<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoWPacketViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WoWPacketViewer.Properties.Settings>
            <setting name="PacketViewForeColor" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="PacketViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="HexViewForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="HexViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="ParsedViewForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ParsedViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="OpcodeDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOpenLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpcodesUpdatesPath" serializeAs="String">
                <value />
            </setting>
        </WoWPacketViewer.Properties.Settings>
    </userSettings>
</configuration>